body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 320px;
}

a {
    text-decoration: none;
    font-style: normal;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

button {
    border: none;
    box-shadow: none;
    padding: 0;
}

input,
textarea {
    outline: none;
    background-color: transparent;
    padding: 0;
    border: 1px solid;
}

label {}

.section {
    padding: 96px 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Navigation styles start */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    position: relative;
    display: flex;
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-header-subtitle {
    color: #2e2f42;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}

.nav-list-item-link {
    position: relative;
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-list-item-link:active,
.nav-list-item-link.current {
    color: #404bbf;
}

.nav-list-item-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}


.address {
    display: none;
    margin: 0 0 0 auto;
    font-style: normal;
}

.address-list-item-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link:hover,
.address-list-item-link:focus {
    color: #404bbf;
}

.menu-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn-img {
    fill: #2F2F37;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover .menu-btn-img,
.menu-btn:focus .menu-btn-img {
    fill: #4d5ae5;
}

/* Navigation styles end */

/* Hero banner styles start */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 72px 0;
    max-width: 1440px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 52px;
    padding-left: 52px;
}


.hero-container-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 72px;
}

.hero-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container-btn:hover,
.hero-container-btn:focus {
    background-color: #404bbf;
}

/* Hero banner styles end */
/* Features styles start */

.features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.features-list-item-box {
    display: none;
}

.features-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list-item-text {
    font-weight: 500;
}

/* Features styles end */

/* Team styles start */

.team {
    background-color: #f4f4fd;
}

.team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-list-item {
    max-width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-desc {
    padding: 32px 0;
}

.team-list-item-title,
.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-item-title {
    text-align: center;
}

.team-list-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-contacts {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-contacts-item {
    width: 40px;
    height: 40px;
}

.team-contacts-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-icon {
    fill: #f4f4fd;
}

.team-contacts-link:hover,
.team-contacts-link:focus {
    background-color: #404bbf;
}

/* Team styles end  */
/* Portfolio styles start*/

.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.portfolio-list-item {
    flex-basis: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-img {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.portfolio-overlay {
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-list-item-desc {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* Portfolio styles end*/
/* Footer styles start*/

.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

.footer-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.logo-footer {
    padding: 0;
    margin-bottom: 16px;
}

.logo-footer-subtitle {
    color: #f4f4fd;
}

.footer-text {
    width: 288px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-social-title,
.footer-subscribe-title {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-item {
    height: 40px;
    width: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-list-item-icon {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
    background-color: #31d0aa;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe-form-input {
    padding-left: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    opacity: 0.3;
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-subscribe-form-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.6;
}

.subscribe-btn {
    margin: 0 auto;
    height: 40px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active {
    background-color: #404bbf;
}

.subscribe-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
}

/* Footer styles end */
/* Menu overlay styles start */
.menu,
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open,
.modal.is-open {
    opacity: 1;
    pointer-events: auto;
}

.menu {
    padding: 72px 16px 40px 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.modal-btn-close {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    border: none;
    background-color: #404bbf;
}

.modal-btn-close-img {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-btn-close-img,
.modal-btn-close:focus .modal-btn-close-img {
    fill: #ffffff;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.menu-nav-link.current {
    color: #404bbf;
}

.menu-contacts {
    margin: auto 0 0 0;
}

.menu-address-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-bottom: 48px;
}

.menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link:hover,
.menu-address-link:focus {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    gap: 40px;
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon {
    fill: #f4f4fd;
}

.menu-social-link:hover,
.menu-social-link:focus {
    background-color: #404bbf;
}

/* Menu overlay styles end */
/* Form overlay styles start */

.modal {
    background: rgba(46, 47, 66, 0.4);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
}

.modal-subtitle {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-box {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 34px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-img {
    fill: #4d5ae5;
}

.form-textarea-container {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    opacity: 0.5;
}

.form-checkbox-container {
    margin-bottom: 24px;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-label-text {
    display: inline-block;
}

.form-checkbox:checked+.form-checkbox-label .custom-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #F4F4FD;
}

.form-checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: inline-block;
}

.form-btn {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

/* Form overlay styles end */
/* Tablet styles start */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }

    .menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
        padding: 16px 0;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list-item-link {
        padding: 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .hero-container {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-container-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 36px;
    }

    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-list-item {
        flex-basis: calc((100% - 24px) / 2);
        min-width: 264px;
    }

    .features-list-item-title {
        text-align: left;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 64px 24px;
    }

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 72px 24px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .footer-desc {
        align-items: flex-start;
        margin: 0;
    }

    .footer-social {
        align-items: flex-start;
        margin: 0;
    }

    .footer-subscribe {
        align-items: flex-start;
    }

    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .modal-container {
        top: 96px;
        transform: translateX(-50%);
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/* Tablet styles end */
/* Laptop styles start */

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }

    .container {
        max-width: 1185px;
        padding: 0 15px;
    }

    .logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
        padding: 0;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-list-item-link {
        padding: 24px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero-container-title {
        margin-bottom: 48px;
    }

    .features-list {
        flex-wrap: nowrap;
    }

    .features-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-list-item-box {
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-list-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-list-item-text {
        font-weight: 400;
    }

    .team-list {
        flex-direction: row;
        gap: 24px;
    }

    .team-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .footer-desc {
        margin-right: 120px;
    }

    .logo-footer {
        padding: 0;
        margin: 0 0 16px 0;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social {
        margin-right: 80px;
    }

    .footer-subscribe-form-input {
        width: 264px;
        opacity: 1;
    }

    .footer-subscribe-form-input::placeholder {
        font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
    }

    .modal-container {
        top: 80px;
        transform: translateX(-50%);
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/* Laptop styles end */
/* Resolution styles start */

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-background@2x.jpg);
    }
}

/* Resolution styles end */


/* Visually-hidden class styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}